/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #02080d;
}

#header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
}
.logo {
  width: 20%;
}
.logo img {
  width: 100%;
  min-width: 150px;
  max-width: 250px;
}
.navbar{
    display: flex;
    gap: 35px;
}

.navbar a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
    transition: 0.3s;
}

/* line effect */
.navbar a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    
    width: 0%;
    height: 3px;

    background: #00ffee;
    border-radius: 10px;

    box-shadow: 0 0 10px #00ffee,
                0 0 20px #00ffee;

    transition: width 0.3s ease;
}

/* hover */
.navbar a:hover::after{
    width: 100%;
}

/* active link */
.navbar a.active::after{
    width: 100%;
}
/* #btn {
    width: 15%;
    padding: 15px 2px;
    border-radius: 30px;
    letter-spacing: 2px;
    font-size: 16px;
    color: white;
    word-spacing: 9px;
    border: 3px solid green;
    background: transparent;
}
#btn i {
  color: white;
  font-size: 22px;
  transform: rotate(-45deg);
} */




#btn{
    background: transparent;
    color: white;
    border: 2px solid #00ffee;
    
    padding: 12px 28px;
    border-radius: 50px;

    font-size: 16px;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 12px;

    cursor: pointer;

    box-shadow: 0 0 10px rgba(0,255,238,0.5);
    transition: 0.3s ease;
}

/* icon */
#btn i{
    font-size: 15px;
    transition: 0.3s ease;
}

/* hover effect */
#btn:hover{
    background: rgba(0,255,238,0.1);
    box-shadow: 0 0 20px rgba(0,255,238,0.5);
}

/* icon move */
#btn:hover i{
    transform: translateX(5px);
}
@media (max-width: 1200px) {
    #header {
      width: 100%;
      padding: 20px 50px;
    }
}